pydantic-ai
python-dotenv==1.0.0
langgraph
langchain-anthropic
langchain-openai
autogen-agentchat~=0.2
matplotlib
numpy
langchain
duckduckgo-search
langchain-google-genai
langchain_community
flask==3.0.0
flask-cors
flask-restful
flask-limiter
flask-sqlalchemy
streamlit
gunicorn==21.2.0
